    <%-include('../shared/includes/head')%>
    <title>Login</title>
</head>
<body>
    <%- include('../shared/includes/header')%>
    <main>
        <h1>Login</h1>
        <form action="/login" method="POSt">
            <label for="email">Email</label>
            <input type="text" name="email" id="email">
            
            <label for="password">Password</label>
            <input type="password" name="password" id="password">
        </form>
    </main>
</body>
</html>