<%-include('../shared/includes/head')%>
    <title>Sign Up</title>
</head>
<body>
    <%-include('../shared/includes/header')%>
    <main>

        This is the signup page of JobsNow
    </main>
</body>
</html>