<%-include('includes/head')%>
    <title>404</title>
</head>
<body>
    <%- include('includes/header')%>
    <main>
        <h1>Not found</h1>
        <p>Requested resource not found on server</p>
    </main>
</body>
</html>