<%-include('includes/head')%>
    <title>404</title>
</head>
<body>
    <%- include('includes/header')%>
    <main>
        <div id="error-illustration-container">
            <img src="/images/404.png" alt="404" class="error-illustration">
        </div>
    </main>
</body>
</html>