<header id="main-header">
    <div id="logo"><a href="/jobs"><img src="/images/logo.png" alt="logo"></a></div>
    <nav>
        <ul class="nav-items">
            <%if(locals.uid){%>
                <li class="nav-item"><a href="/employer/dashboard">Dashboard</a></li>   
            <%}%>
            <%if(locals.uid){%>
                <li class="nav-item"><a href="/employer/post-job">PostJob</a></li>   
            <%}%>
            <%if(!locals.uid){%>
            <li class="nav-item"><a href="/login">Login</a></li>
            <li class="nav-item"><a href="/signup">Signup</a></li>
            <%}%>
            <%if(locals.uid){%>
            <li class="nav-item">
                <form action="/logout" method="POST">
                    <button>Logout</button>
                </form>
            </li>
            <%}%>
        </ul>
    </nav>
</header>