main{
    display: flex;
    flex-direction: row;
    margin: 2rem 4rem;
}

#job-details{
    width: 75%;
    background-color: #ffffff;
    margin-right: 1rem;
    padding: 2rem;
    box-shadow: var(--container-box-shadow-1);
    border-radius: var(--container-border-radius-1)
}

#job-header{
    background-color: #eff6fc;
    padding: 1.5rem;
    box-shadow: var(--container-box-shadow-2);
    border-radius: var(--container-border-radius-2);
}

#job-header button{
    padding: 0.5rem 1.5rem;
}

#job-header h1{
    margin-top: 0;
}

#job-header div{
    display: flex;
    align-items: center;
}

#apply{
    margin-top: 1rem;
}

.summary-table{
    width: 50%;
}

.summary-table td{
    padding: 1rem;
}

.summary-table tr{
    background-color: #f8f9fa;
}

.summary-table tr:nth-child(odd) {
    padding: 1rem;
    background-color: #eff6fc;
}

#more-details{
    width: 25%;
    background-color: #ffffff;
    margin-left: 1rem;
    padding:1rem 2rem;
    box-shadow: var(--container-box-shadow-1);
    border-radius: var(--container-border-radius-1)
}