main{
    background-color: #ffffff;
    max-width: 60rem;
    margin: 5rem auto;
    box-shadow: var(--container-box-shadow-1);
    border-radius: var(--container-border-radius-1);
}

h2{
    display: none;
    margin: 0;
    padding-top: 3rem;
    text-align: center;

}

.form-container{
    padding: 2rem;
    min-width: 25rem;
}

#section-1{
    display: flex;
}

#form-section-1{
    width: 40%;
}

.illustration{
    width: 60%;
    padding: 2rem;
    max-height: 25rem;
    text-align: center;
}

.illustration p{
    margin-top: 0;
    text-align: center;
    font-size:1.5rem;
    font-weight: 400;
}

.illustration img{
    height: 100%;
}

.input-container{
    margin: 1rem auto;
}

.input-container #error{
    margin: 0 auto;
    font-size: 0.9rem;
    color: #f2555f;
}



label{
    display: block;
    margin: auto;
    width: 80%;
    font-weight:500;
}

#form-section-2 .input-container label{
    width: 92%;
}

.form-section-2-select{
    display: flex;
    justify-content: space-between;
    width: 92%;
    margin: 2rem auto;
}

input,textarea{
    display: block;
    margin: auto;
    width: 80%;
    padding: 0.5rem;
    border:none;
    font-size: 1rem;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 3px;
}

textarea{
   resize: none;
   width:92%;
   margin-top:0.2rem
}

input:focus,textarea:focus{
    outline:none;
    border: 1px solid #1565C0;
    border-radius: 3px;
}

.select-option-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;

    margin-bottom: 1rem;
}

.select-option-container label{
    width: auto;
    margin: 0;
    margin-right: 0.5rem;
    min-width: 6rem;
}

select{
    font: inherit;
    padding: 0.25rem;
    min-width: 15rem;
}

select:focus {
    outline: none;
    border: 1px solid #1565C0;
}

.button-container{
    margin-top: 2rem;
   text-align: center;
}

@media(max-width:800px){
    main{
        max-width: 35rem;
    }

    h2{
        display: block;
    }

    #form-section-1{
        width: 100%;
    }

    textarea{
        width: 80%;
    }

    .form-section-2-select{
        display: block;
        margin: 2rem auto;
        margin-left:10%;
    }
    
    
    #form-section-2 .input-container label {
        width: 80%;
    }

    .illustration{
        display: none;
    }
}