    <%-include('../shared/includes/head')%>
    <title>Jobs</title>
    <link rel="stylesheet" href="/styles/jobs.css">
    <script src="https://kit.fontawesome.com/0ef15d1b1c.js" crossorigin="anonymous"></script>
</head>
<html>
    <%-include('../shared/includes/header')%>
    <main>
        <%-include('includes/filter')%>
        <%-include('includes/jobs')%>
        
    </main>
</html>