<%-include('../shared/includes/head')%>
<title>Jobs</title>
<link rel="stylesheet" href="styles/jobs.css">
</head>
<html>
<%-include('../shared/includes/header')%>
<main>
    job details
</main>
</html>