<section id="filters">
    <h1>Filters</h1>
    <article class="filter">
        <h2>Job Type</h2>
        <div>
            <input id="permanent" type="checkbox" name="jobtype" value="permanent">
            <label for="permanent">Permanent</label>
        </div>
        <div>
            <input id="temporary" type="checkbox" name="jobtype" value="temporary">
            <label for="temporary">Temporary</label>
        </div>
        <div>
            <input id="internship" type="checkbox" name="jobtype" value="internship">
            <label for="internship">Internship</label>
        </div>
    </article>
    <article class="filter">
        <h2>Education</h2>
        <div>
            <input id="bachelors" type="checkbox" name="education" value="bachelors">
            <label for="bachelors">Bachelors</label>
        </div>
        <div>
            <input id="masters" type="checkbox" name="education" value="masters">
            <label for="masters">Masters</label>
        </div>
        <div>
            <input id="phd" type="checkbox" name="education" value="phd">
            <label for="phd">PhD</label>
        </div>
    </article>
    <article class="filter">
        <h2>Experience</h2>
        <div>
            <input id="no-exp" type="checkbox" name="experience" value="no-experience">
            <label for="no-exp">No Experience</label>
        </div>
        <div>
            <input id="exp-1" type="checkbox" name="experience" value="1year">
            <label for="exp-1">1 Year</label>
        </div>
        <div>
            <input id="exp-2" type="checkbox" name="experience" value="2year">
            <label for="exp-2">2 Years</label>
        </div>

        <div>
            <input id="exp-3" type="checkbox" name="experience" value="3years+">
            <label for="exp-3">3 Years+</label>
        </div>
    </article>
    <article class="filter">
        <h2>Salary Range</h2>
        <div>
            <input id="salary-1" type="checkbox" name="salary" value="">
            <label for="salary-1">$1-$50000</label>
        </div>
        <div>
            <input id="salary-2" type="checkbox" name="jobtype" value="">
            <label for="salary-2">$50000-$100,000</label>
        </div>
        <div>           
            <input id="salary-3" type="checkbox" name="jobtype" value="">
            <label for="salary-3">$100,000-$200,000</label>
        </div>
        <div>
            <input id="salary-4" type="checkbox" name="jobtype" value="">
            <label for="salary-4">$200,000+</label>
        </div>

    </article>
    
</section>