<section id="jobs">
    <h1>Latest Jobs</h1>
    <%for(let i=0;i<3;i++){%>
    <article class="jobs">
        <div class="job-details">
            <h3>Company Name</h3>
            <h2>Job Title</h2>
            <p>JobDesciption- Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, obcaecati officiis. Quia possimus nostrum ab amet ratione voluptate facere tenetur odio earum, iusto dolore commodi. Quis iusto doloribus modi non.</p>
        </div>
        <div class="job-summary">
            <div class="summary-item">Industry</div>
            <div class="summary-item">Job Type</div>
            <div class="summary-item">Salary</div>
            <div class="summary-item">Date Posted</div>
        </div>
    </article>
    <%}%>
</section>