<table class="summary-table">
    <tr>
        <td>Job Type</td>
        <td>Intership</td>
    </tr>
    <tr>
        <td>Job Industry</td>
        <td>Business</td>
    </tr>
    <tr>
        <td>Expected Salary</td>
        <td>$30000</td>
    </tr>
    <tr>
        <td>Education</td>
        <td>Bachelors</td>
    </tr>
    <tr>
        <td>Experience</td>
        <td>2 Years</td>
    </tr>
    <tr>
        <td>Company</td>
        <td>NumDesk</td>
    </tr>
</table>